<div class="book-list">
  <div class="book-card" *ngFor="let book of books; let i = index" [routerLink]="[i]">
    <div class="book-cover">
      <img alt="Card" [src]="book.coverUrl ?  book.coverUrl : 'assets/images/no-book-cover.jpg'">
    </div>
    <div class="book-info">
      <h2 class="title">{{book.title}}</h2>
      <p class="author">{{book.author}}</p>
    </div>
    <div class="book-rating">
      <p-rating [ngModel]="book.rating" readonly="true" [cancel]="false"></p-rating>
      <span>({{book.rating}}/5)</span>
      <span>{{book.reviews ? book.reviews.length : 0}} reviews</span>
    </div>
  </div>
</div>
