.main-body {
  display: flex;
  flex-direction: row;

  .left-col {
    width: 260px;

    .cover {
      width: 100%;
    }

    img {
      width: 100%;
    }

    .notes {
      margin-top: 10px;
      background-color: white;
      padding: 8px 0;
      border-radius: 4px;

      .note {
        border: 1px solid #ddd;
        border-left: none;
        border-right: none;
        padding: 10px;
      }
    }
  }

  .right-col {
    padding: 10px 20px;
    flex: 1;

    .title {
      font-size: 28px;
      margin: 0 0 8px;
    }

    .author {
      font-size: 16px;
      color: #737373;
      margin: 0 0 12px;
    }

    .description {
      font-size: 18px;
      max-height: 380px;
      overflow-y: auto;
      margin-bottom: 30px;
    }

    .publisher-info {
      margin: 20px 0;
      padding: 10px 16px;
      background-color: white;
      border-radius: 6px;

      .info-list {
        display: flex;
        flex-flow: row wrap;
        margin: 0;

        dt {
          flex: 0 0 20%;
          text-transform: uppercase;
          color: #737373;
          font-size: 15px;
          font-weight: 600;
        }

        dd {
          flex: 0 0 30%;
          margin-left: 0;
          font-size: 16px;
        }

        dt, dd {
          height: 28px;
          display: flex;
          align-items: center;
        }
      }

    }

  }
}


//----------------------------------*\
// Custom scrollbar for description
//----------------------------------*/

.description::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.description::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}

.description::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}
