/* You can add global styles to this file, and also import other style files */
@import 'assets/scss/modules/_theme.scss';

//----------------------------------*\
// Fonts
//----------------------------------*/
@import 'assets/scss/modules/_fonts.scss';
// primary font
$primary_font: 'Open Sans', sans-serif;

body {
  font-family: $primary_font;
  font-size: 16px;
  font-weight: 400;
  color: $font_color;
}

//----------------------------------*\
// Main Styling
//----------------------------------*/
html, body {
  height: 100vh;
}

body {
  margin: 0;
  background: $yellow; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, $yellow, $light-brown); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, $yellow, $light-brown); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


:focus {
  outline: none;
  border: 0;
}

//----------------------------------*\
// Custom Styling
//----------------------------------*/

.container-fluid {
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
}

.book-rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 14px;

  span {
    color: #737373;
    transform: translateY(-1px);
    margin-left: 8px;
  }
}

hr {
  border: solid 1px #999;
}
